mixin sectionHeader({heading, headingHighlight, subheading, customClass})
  h3(class='section__header ' + customClass + '__header' )
      span.section__header--subheading=subheading
      span.section__header--main=heading
        span.section__header--highlight=headingHighlight
