section.hero
  .hero__bg
    .hero__bg--sprite
  .container.hero-container
    .hero__sprite.sprite-1
    .hero__sprite.sprite-2
    .hero__sprite.sprite-3
    .hero__sprite.sprite-4
    .hero__block
      .block__part.hero__text
        h1.hero__header
          span.header__name Андрей
            span.header__name--secondary-color  СЕМЕНКОВ
          span.header__prof FULLSTACK веб-разработчик
        h2.hero__subheader Разработка “под ключ” лендингов, веб-приложений, сайтов и мобильных приложений
        a(href='#contacts' class='contact__button btn-reset' data-scroll) Связаться
          svg
            use(xlink:href="/img/sprite.svg#arrow-right")
      .block__part.hero__image
      .hero__contacts
        .contact__item.TG
        .contact__item.mail

