header.header
  .container
    nav.header__nav
      ul.header__menu.list-reset
        li.menu__item
          a(href='#about' data-scroll) Почему я
        li.menu__item
          a(href='#portfolio' data-scroll) Портфолио
        li.menu__item
          a(href='#services' data-scroll) Мои услуги
        li.menu__item
          a(href='#education' data-scroll) Обучение
        li.menu__item
          a(href='#contacts' data-scroll) Контакты
