include mixin/sectionHeader


doctype html
html(lang="ru" class='page')
  include head/head
  body.page__body

    include components/menu
    main
      include components/hero
      include components/about
      include components/skills
      include components/portfolio
      include components/services
      include components/courses
      include components/contacts
    footer
      include components/footer
