head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="favicon.ico" type="image/x-icon")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title FULLSTACK веб-разработчик Андрей Семенков
  link(rel="preload", href="fonts/Nunito-Bold.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload", href="fonts/Nunito-Light.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload", href="fonts/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload", href="fonts/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="stylesheet", href="css/vendor.css")
  link(rel="stylesheet", href="css/main.css")
  script(src="js/main.js" defer)


